<div class="auth-container">
  <mat-card class="auth-card">
    <h2 class="auth-title">Sign Up</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
      <mat-form-field appearance="fill" floatLabel="always" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Sign Up
      </button>
    </form>

    <p class="switch-text">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </mat-card>
</div>

